* {
    padding: 0;
    margin: 0;
    background-color: var(--off-white);
    font-family: var(--secundary-font);

}

header {
    margin: 20px;
}

header .nav {
    margin-right: 10%;
}

header .nav a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    margin: 10px;
}

.hero {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-image: url("../assets/images/background-points.jpg");
    background-size: contain;
}


.hero .hero-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: transparent;
    font-family: var(--secundary-font);
    padding-bottom: 10px;


}


.hero h1 {

    color: var(--very-dark-blue);
    font-size: 56px;
    background-color: transparent;

}

.hero p {
    color: var(--dark-grayish-blue);
    padding: 20px 0;
    background-color: transparent;
    font-size: 24px;
    line-height: 1.5;
}